/* ----------------------------------------------------------------------------
    Imports
---------------------------------------------------------------------------- */


@import './_settings';
@import './vendor/_bootstrap';
@import './vendor/_timepicker';
@import './vendor/_datepicker';


/* ----------------------------------------------------------------------------
    General
---------------------------------------------------------------------------- */


#main-container {
    width: 960px;
}

#primary-header {
    height: 50px;
}

.footer {
    margin-top: 20px;
    text-align: center;
}


/* ----------------------------------------------------------------------------
    Home
---------------------------------------------------------------------------- */





/* ----------------------------------------------------------------------------
    Sign In/Sign Up
---------------------------------------------------------------------------- */


.sign-in,
.sign-up {

    h1 {
        text-align: center;
    }
}